table{
	border-collapse: collapse;
	font-family: Arial;
	text-align: center;
	
}

th{
	/* border: 1px solid #E6E6E6; */
	 border: 1px solid #000000; 
	padding: 5px;
	text-align: left;
	cursor: pointer;
}

td{
	border:1px solid #000000;
	padding: 5px;	
	
}


.header{
	height: 100px;
	width: 800px;
	background-color: #BDBDBD;
	text-align: center;
}

.footer{
	height: 10px;
	width: 800px;
	background-color: #BDBDBD;
	text-align: center;
}

.leftbody{
	height: 450px;
	width: 150px;
	background-color: #D8D8D8;
}

.rightbody{
	height: 450px;
	width: 650px;
	background-color: #E6E6E6;
}

a{ display:block; padding:5px
}

.arrow-down{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
	display: inline-block;
}

.arrow-up{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid black;
	display: inline-block;
}

.activeState{
	background-color:#00ff00;
	color: #000000;
}

.div1{
	display: block;
	height: 400px;
	width : 600px;
	border: 1px solid #E6E6E6;
	padding: 10px;
	overflow-y: scroll; 
}

.table1{
	margin-left:40%;
	text-shadow:5px 5px 5px #000000;
	border:hidden 7px #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}